<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-left">
                <h3>Coding Dojo Wall</h3></div>
            <div class="col-md-6 text-right">
                Welcome {{session['email']}}
                <a href="/logoff">
                    <button class="btn btn-primary">Log Off</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 text-left">
                <h3>Post a new message:</h3>
                <form class="message_insert" action="/insert/message" method="POST">
                    <textarea rows="4" cols="50" name="message"></textarea>
                    <input type="submit" class="btn btn-primary" />
                </form>


                <table style="width:100%" class="table table-bordered text-left">

                    <thead>
                        <tr>
                            <th>Message Date</th>
                            <th>Message Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for messages in messages %}
                        <tr>
                            <th>Message date {{messages.created_at}} {{messages.first_name}} {{messages.last_name}}</th>
                            <th>{{messages.message}}</th>
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%" class="table table-bordered text-left">
                <tbody>
                    {% for comments in comments %}{% if messages.messageid == comments.message_id  %}


                            <tr>
                                <td>Message date {{comments.created_at}} {{comments.first_name}} {{comments.last_name}}</td>
                                <td>{{comments.comment}}</td>
                            </tr>

                    </tbody>{% endif %}{% endfor %}
                    <form class="edit_comment" action="/insert/comment/{{messages.messageid}}" method="POST">
                        <input type="hidden" name="message_id" value="{{messages.messageid}}" />
                        <input type="text" name="comment" />
                        <input type="submit" class="btn btn-primary" />
                    </form>
                    <!-- <a href="/delete/message/{{messages.messageid}}"><button class="btn btn-primary">Enter a comment</button></a> -->
                    {% endfor %}
                </table>
                <h3>Wall Friends</h3>
                {% for users in users %}
                    <a href = "/wall/{{users.userid}}">{{users.first_name}} {{users.last_name}}</a>
                {% endfor %}


        </div>

    </div>
</div>

</body>
</html>
