<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log in please</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div>
        <h2>Please Log In!</h2>
      </div>
      <div class="col-md-8 text-center">
        <form class="login_information" action="/login/logincheck" method="POST">
          Email Address:<input type="text" name="email_login" />
          Password: <input type="password" name="password_check" />
          <input type="submit" class="btn btn-primary" />
        </form>
      </div>
      <div class="errors">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
          <ul class=flashes>
              {% for category, message in messages %}
              <li class="{{ category }}" color='red'>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
    </div>
  </div>

</body>
</html>
